@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
Praesent lobortis vehicula ipsum, quis vulputate ex dictum sed. <span style="color: red">findMe here</span> Sed congue ac eros ut egestas. Ut posuere turpis vitae nisl eleifend, eget pulvinar risus luctus. Phasellus eu justo turpis. Integer a sapien elit. Quisque vulputate ante turpis, nec sollicitudin tortor bibendum in. Duis tristique purus et nibh aliquet bibendum. Nulla vitae lectus dui. Nulla facilisi. Praesent dignissim mi lacus, id efficitur arcu maximus ac. Suspendisse id enim vestibulum, pretium ligula vel, sollicitudin lectus. 
Pellentesque non dignissim neque, ut tempor libero. Aliquam at molestie leo.